/* HERO SECTION SETTING  */
.HeroTwo-Section{
    background-color: #0f6bb1;;
    height: 100vh;
    padding-top: 150px;
}

/* CONTAINER FOR HERO TWO SECTION  */
.HeroTwo-Container{
    width: 100%;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

/* HEADER FOR THE HEROTWO  */
.HeroTwo-Header{
    text-align: center;
    font-weight: bold;
    font-size: 2.0rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 50px;
}

/* CONTENT FOR THE HERO SECTION  */
.HeroTwo-Content{
    margin-bottom: 10px;
    text-align: center;
    bottom: 5px;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 5rem;
    padding-top: 50px;
    padding-right: 5rem;
}

/* responsiveness for about section  */

@media (max-width: 768px){
    .HeroTwo-Section{
        background-color: #0f6bb1;;
        height: 100vh;
    }
    .HeroTwo-Header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -300px;
        font-weight: bold;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    #HeroTwo-Borderline{
        position: absolute;
        border: 0.1px solid white;
        width: 80%;
        margin: 20px 0;
        margin-top: -180px;
    }
    .HeroTwo-Content{
        position: absolute;
        bottom: 5px;
        font-size: 1.3rem;
        max-width: 600px;
        margin: 0 auto 1.5rem auto;
        text-align: center;
        line-height: 1.2;
    }
}

@media (max-width: 640px){
    .HeroTwo-Section{
        background-color: #0f6bb1;;
        height: 100vh;
    }
    .HeroTwo-Header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -300px;
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    #HeroTwo-Borderline{
        position: absolute;
        border: 0.1px solid white;
        width: 90%;
        margin: 20px 0;
        margin-top: -180px;
    }
    .HeroTwo-Content{
        position: absolute;
        bottom: 5px;
        font-size: 1.2rem;
        max-width: 600px;
        margin: 0 auto 1.5rem auto;
        text-align: center;
        line-height: 1.2;
    }
}


@media (max-width: 457px){
    .HeroTwo-Section{
        background-color: #0f6bb1;;
        height: 120vh;
        padding-top: 100px;
    }
    .HeroTwo-Header{
        margin-top: 20px;
        font-weight: bold;
        max-width: 100%;
        font-size: clamp(1.2rem, 3vw, 2rem); 
        text-transform: uppercase;
    }
    #HeroTwo-Borderline{
        position: absolute;
        border: 0.1px solid white;
        width: 90%;
    }
    .HeroTwo-Content{
        font-size: 1.1rem;
        max-width: 600px;
        text-align: center;
        line-height: 1.2;
    }
}