.hero {
    background-image: url(../../assets//SunSetHero\ .jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    max-width: 100%; 
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.312); 
    z-index: 1;
}

.hero-text {
    display: flex;
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    z-index: 2;
    margin-top: 300px;
}

/* Media Queries */

/* For screens up to 1536px */
@media (max-width: 1536px) {
    .hero {
        height: 100vh; 
        background-position: center center; 
    }
    .hero-text {
        font-size: clamp(3.5rem, 5.5vw, 5rem);
        margin-top: 300px;
        padding: 30px;
    }
}
/* For screens up to 1280px */
@media (max-width: 1280px) {
    .hero {
        height: 100vh; 
        background-position: center center; 
    }
    .hero-text {
        font-size: clamp(3rem, 5vw, 4.5rem);
        margin-top: 300px;
        padding: 25px;
    }
}

/* For screens up to 1024px */
@media (max-width: 1024px) {
    .hero {
        height: 100vh; 
        background-position: center center; 
    }
    .hero-text {
        font-size: clamp(2.5rem, 4.5vw, 4rem);
        margin-top: 300px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 100vh; 
    }
    .hero-text {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        margin-top: 300px; 
        padding: 15px;
    }
}

@media (max-width: 640px) {
    .hero {
        height: 100vh; 
        background-position: center center; 
    }
    .hero-text {
        font-size: clamp(1.4rem, 3.5vw, 2.2rem);
        margin-top: 300px;
        padding: 12px;
    }
}

@media (max-width: 457px) {
    .hero {
        height: 100vh; 
        background-position: center center; 
    }
    .hero-text {
        font-size: clamp(1.2rem, 3vw, 2rem); 
        margin-top: 300px;
        padding: 10px;
    }
}