.BannerTwoButton{
    padding: 1.5rem 2rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.BannerTwoButton:hover{
    background-color: #0476D0;
}
@media (max-width: 768px) {
    .BannerTwoButton {
        margin-top: 70px;
        padding: 1.2rem 1.2rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 640px) {
    .BannerTwoButton {
        margin-right: auto;
        margin-top: 70px;
        padding: 1rem 1.0rem; 
        font-size: 0.7rem;
    }
}

@media (max-width: 457px) {
    .BannerTwoButton {
        margin-top: 80px;
        margin-right: auto;
        margin-left: 20px;
        padding: 0.8rem 0.3rem; 
        font-size: 0.6rem; 
    }
}