.ButtonOne-Container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start; 
    /* border: 2px red solid; */
}

.ButtonOne {
    display: inline-block;
    padding: 1.5rem 1.8rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ButtonOne:hover {
    background-color: #0476D0;
}

@media (max-width: 768px) {
    .ButtonOne-Container{
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ButtonOne {
        width: 40%;
        height: 70%;
        padding: 0.4rem 0.8rem; 
        font-size: 0.8rem;
    }
}

@media (max-width: 640px) {
    .ButtonOne-Container{
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ButtonOne {
        padding: 0.7rem 1.0rem; 
        font-size: 0.85rem;
    }
}

@media (max-width: 457px) {
    .ButtonOne-Container{
        height: 12%;
        display: flex;
        justify-content: center;
    }
    .ButtonOne {
        padding: 0.6rem 0.9rem; 
        font-size: 0.75rem; 
    }
}
