.ButtonOne{
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: #3b82f6;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ButtonOne:hover{
    background-color: #0476D0;
}
/* Responsive Button Styling */
@media (max-width: 768px) {
    .ButtonOne {
        padding: 1rem 1.5rem; 
        font-size: 0.9rem;
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}

@media (max-width: 457px) {
    .ButtonOne {
        padding: 0.7rem 0.3rem;
        font-size: 0.6rem;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
}