.ButtonOne{
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: #3b82f6;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ButtonOne:hover{
    background-color: #0476D0;
}

@media (max-width: 768px) {
    .ButtonOne {
        padding: 1rem 1.5rem; 
        font-size: 0.9rem;
        margin-top: 20px; 
        margin-bottom: 60px;
        margin-left: 11rem;
        margin-right: 11rem;
    }
}

@media (max-width: 640px) {
    .ButtonOne {
        padding: 0.7rem 1.5rem; 
        font-size: 0.9rem;
        margin-top: 20px; 
        margin-bottom: 60px;
        margin-left: 7rem;
        margin-right: 7rem;
    }
}


@media (max-width: 457px) {
    .ButtonOne {
        padding: 1.0rem 0.6rem;
        font-size: 0.6rem;
        margin-top: 10px;
        margin-left: 9rem;
        margin-bottom: 9px; 
    }
}