.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

/* About Content  */
.about-content{
    width: 50%;
    margin-right: auto;
    padding-right: 10px;
}

.about-text{
    margin-bottom: 2rem;
    width: 90%;
}
.about-text h2 {
    display: flex;
    text-align: left;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-transform: capitalize;
}
.about-text p {
    display: flex;
    margin-bottom: 1rem;
    line-height: 1.9;
    font-size: 1.125rem;
    color: #374151;
}

/* Image Content  */
.image-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image-content img{
    max-height: 90vh;
    max-width: 90%;
    margin-top: 40px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 0.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive About  */

@media (max-width: 768px){
    .about-section{
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        height: 150vh;
    }
    .about-content{
        order: 2;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 50%;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        line-height: 1.2;
    }
    .about-text p {
        text-align: center;
        line-height: 1.6;
        font-size: 1.1rem;
        color: #374151;
    }
    .image-content img{
        height: 70vh;
        width: 80vh;
        order: 1;
    }
    .image-content{
        height: 50%;
        width: 100%;
    }
}
/* sm (max-width: 640px) */
@media (max-width: 640px) {
    .about-section{
        display: flex;
        background-color: white;
        flex-direction: column;
        height: 150vh;
    }
    .about-content{
        order: 2;
        margin-bottom: 5rem;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 50%;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        line-height: 1.2;
    }
    .about-text p {
        text-align: center;
        line-height: 1.6;
        font-size: 1.1rem;
        color: #374151;
    }

    .image-content{
        height: 30%;
        width: 100%;
        margin-bottom: 5rem;
    }
    .image-content img{
        height: 50vh;
        width: 80vh;
        order: 1;
    }
}



@media (max-width: 457px) {
    .about-section{
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        height: 160vh;
    }
    .about-content{
        order: 2;
        margin-bottom: 5rem;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 50%;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text h2 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
        line-height: 1.2;
    }
    .about-text p {
        text-align: center;
        line-height: 1.6;
        font-size: 1.1rem;
        color: #374151;
    }

    .image-content{
        height: 30%;
        width: 100%;
        margin-bottom: 5rem;
    }
    .image-content img{
        height: 50vh;
        width: 50vh;
        order: 1;
    }
}